<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<KMPServerUpd.xml>

  <Enabled>yes</Enabled> <!-- yes / no -->

  <version>0.6</version>

  <changes>
Версия #0.6, от 01.10.17.
 • Отключена привязка модпака,можете делиться с друзьями;
 • Обновлены автоприцелы;
 • Обновлен мод таймер перезарядки;
 • Обновлен мод ренген.
  </changes>

  <forumTheme>https://bitbucket.org/HatsanMod/chit24.ru/downloads/Hatsan%20MP%20(0.6).exe</forumTheme>
  <downloadLink>https://bitbucket.org/HatsanMod/chit24.ru/downloads/Hatsan%20MP%20(ver).exe</downloadLink>

</KMPServerUpd.xml>